mixin page-header()
  header.page-header.fullpage__page-header
    a.mail(href="mailto:info@mytandir.ru") info@mytandir.ru
    a.logo.page-header__logo
      img(src="img/logo.png", alt="«Хлеб из тандыра»")
    .callback
      a.phone(href="tel:88007755807") 8 800 77 55 807
      a.callback__btn(href="#") заказать звонок
