mixin page-header()
  header.page-header.fullpage__page-header
    a.mail.mail--size(href="mailto:info@mytandir.ru") info@mytandir.ru
    a.logo.page-header__logo
      img(src="img/logo.png", alt="«Хлеб из тандыра»")
    .callback
      a.phone.phone--size(href="tel:88007755807") 8 800 77 55 807
      a.callback__btn(href="#") заказать звонок
      ul.slider-number
    button.navigation__btn(type="button", aria-label="Открытие меню")
    nav.navigation
      ul.navigation__list
        li.navigation__item
          a.navigation__link.navigation__link--active(href="#") Главная
        li.navigation__item
          a.navigation__link(href="#") О франшизе
        li.navigation__item
          a.navigation__link(href="#") Фотогалерея
        li.navigation__item
          a.navigation__link(href="#") Преимущества
        li.navigation__item
          a.navigation__link(href="#") Продукция
        li.navigation__item
          a.navigation__link(href="#") Оборудование
        li.navigation__item
          a.navigation__link(href="#") Калькулятор
        li.navigation__item
          a.navigation__link(href="#") Доказательства
      form.form-callback
        h3.form-callback__title Специалист свяжется с вамив течении 30 минут
        input.form-input.form-input--phone.form-callback__ident(type="tel" placeholder="+1 234 567 890")
        button.form-callback_btn.form-callback__ident Заказать звонок
        .form-checkbox
          input.form-checkbox__input(type="checkbox" id="check-2" checked)
          label.form-checkbox__text.form-checkbox__text--color(for="check-2") Заполняя форму, Вы соглашаетесь с политикой конфиденциальности
