.about-us {
  position: relative;
  background-image: url("../img/peach-bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: right top;

  @media(min-width: $screen-xl) {
    background-image: url("../img/peach-bg.jpg");
    padding-bottom: 135px;
  }

  &::after {

    @media (min-width: $screen-md) {
      content: "";
      position: absolute;
      top: 1449px;
      left: -260px;
      width: 427px;
      height: 716px;
      background: url("../img/wheat.png") no-repeat center / cover;
    }

    @media (min-width: $screen-xl) {
      top: 839px;
      // left: 0;
    }

    @media (min-width: 1920px) {
      top: 839px;
      left: 0;
    }

  }
}

.about-us__row {
  @include make-row();

  @media (min-width: $screen-xl) {
    flex-direction: row-reverse;
    margin-bottom: 48px;
  }
}

.about-us__column-7 {
  @include make-col-ready();

  @media(min-width: $screen-xl) {
    @include make-col(7);
  }
}

.about-us__column-5 {
  @include make-col-ready();

  @media(min-width: $screen-xl) {
    @include make-col(5);
  }
}

.about-us__column-ident {
  padding: 0;
  margin-bottom: 50px;

  @media(min-width: $screen-md) {
    padding: 0 15px;
    margin-bottom: 75px;
  }

  @media(min-width: $screen-xl) {
    margin-bottom: 50px;
  }
}

.about-us__title {
  padding-top: 15px;

  @media(min-width: $screen-md) {
    padding: 0px;
  }
}
