.address {
  padding-left: 25px;
  margin-bottom: 0;
  color: #fdf9ec;
  font: 700 14px/23px "Geometria", "Arial", sans-serif;
  background: url("../img/sprite/locate.svg") no-repeat 0 5px / 20px 17px;
}
