.bg-calculator {
  position: relative;
  padding-top: 78px;
  padding-bottom: 59px;
  background-color: #fffccd;
  background-image: url("../img/bg-calkculator.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media(min-width: $screen-md) {
    padding-top: 91px;
    padding-bottom: 76px;
  }

  @media(min-width: $screen-xl) {
    padding-top: 107px;
    padding-bottom: 119px;
  }

  &::after {

    @media(min-width: $screen-md) {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 250px;
      height: 125px;
      background: url("../img/piy.png") no-repeat;
    }
    @media(min-width: $screen-xl) {
      width: 509px;
      height: 267px;
    }

    @media(min-width: $screen-xl) {
      width: 509px;
      height: 267px;
      right: -240px;
    }

    @media(min-width: 1800px) {
      width: 509px;
      height: 267px;
      right: 0px;
    }
  }
}

.bg-calculator__title {

  &::after {
    top: -15px !important;

    @media(min-width: $screen-md) {
      top: -15px;
    }

  }
}
