.block-equipment {
  padding-top: 69px;
  padding-bottom: 60px;
  background: url("../img/bg-equipment.jpg") no-repeat center / cover;

  @media(min-width: $screen-md) {
    padding-top: 100px;
  }

  @media(min-width: $screen-xl) {
    padding-top: 96px;
    padding-bottom: 20px;
  }
}

.block-equipment__title {
  font-size: 16px;
  line-height: 27px;
  text-align: left;

  &::after {
    left: 27px;
    top: -19px;
  }

  @media(min-width: $screen-md) {
    margin-bottom: 68px;
    text-align: left;
  }
}

.block-equipment__production {
  margin-top: 8px;

  @media(min-width: $screen-md) {
    margin-top: -38px;
  }

  @media(min-width: $screen-xl) {
    margin-top: 55px;
  }
}

.block-equipment__column-6-5 {
  @include make-col-ready();

  @media(min-width: $screen-xl) {
    @include make-col(7.3);
  }
}

.block-equipment__column-5-5 {
  @include make-col-ready();

  @media(min-width: $screen-xl) {
    @include make-col(4.7);
  }
}
