.block-tandyr {
  padding-top: 76px;
  padding-bottom: 105px;
  background: url("../img/bg-tand.jpg") no-repeat center / cover;
  min-height: 1300px;
}

.block-tandyr__result {
  margin-bottom: 100px;
  margin-top: 47px;

  @media (min-width: $screen-md) {
    margin-bottom: 165px;
  }
}

.block-tandyr__entre {
  margin-bottom: 101px;
}

.block-tandyr__title {
  text-align: left;

  &::after {
    left: 27px;
    top: -15px;
  }

  @media (min-width: $screen-md) {
    text-align: center;
  }
}
