.btn {
  max-width: 370px;
  padding: 19px 40px 20px 110px;
  border-radius: 50px;
  font: 700 18px/25px "Geometria", "Arial", sans-serif;
  text-align: left;
  box-shadow: 0 8px 35px 5px rgba(#f1c700, 0.5%), 0px 7px 0 0 #a37700;
  white-space: normal;
  background: #f1c700 url("../img/sprite/download.svg") no-repeat 45px 25px/40px;

  &--width {
    max-width: 255px;
    font-size: 12px;
    line-height: 18px;
    padding-left: 80px;
    background-position: 25px 16px;
  }
}
