.callback {
  position: relative;
  text-align: right;
  transition: $time;

  &--none {
    pointer-events: none;
    opacity: 0;
  }
}

.callback__btn {
  display: none;

  @media(min-width: $screen-md) {
    display: inline-block;
    font: 400 10px/17px "Geometria", "Arial", sans-serif;
    text-transform: uppercase;
    color: $white;
    border-bottom: 1px dashed #ac987e;
  }
}
