.callback {
  text-align: right;
}

.callback__btn {
  display: inline-block;
  font: 400 10px/23px "Geometria", "Arial", sans-serif;
  text-transform: uppercase;
  color: $white;
  border-bottom: 1px dashed #ac987e;
}
