.dignity {
  @include ul-none();
  margin-bottom: 54px;

  @media (min-width: $screen-xl) {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.dignity__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 22px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $color-warning;

    @media (min-width: $screen-md) {
      width: 18px;
      height: 18px;
    }
  }

  @media (min-width: $screen-md) {
    padding-left: 45px;
    margin-bottom: 40px;
  }
}

.dignity__title {
  font: 700 16px/26px "Geomentria", "Arial", sans-serif;
  color: $text-color;
  margin: 0;

  @media (min-width: $screen-xl) {
    font: 700 21px/26px "Geomentria", "Arial", sans-serif;
    margin-bottom: 10px;
  }
}

.dignity__item p {
  color: #333;
  font: 400 12px/18px "Geomentria", "Arial", sans-serif;

  @media (min-width: $screen-xl) {
    font: 400 14px/23px "Geomentria", "Arial", sans-serif;
  }
}
