.document {
  color: $white;
  margin: 42px 0 35px;

  @media(min-width: $screen-xl) {
    text-align: left;
    margin-left: 57px;
  }
}

.document__text {
  margin-bottom: 0px;
  font: 700 14px/18px "Geometria", "Arial", sans-serif;

  @media(min-width: $screen-xl) {
    margin-bottom: 10px;
  }
}

.document__text a {
  color: #ffc500;
  text-decoration: underline;
}

.document small {
  display: none;

  @media(min-width: $screen-xl) {
    display: block;
    color: #c0c0c0;
    font: 400 11px/13px "Geometria", "Arial", sans-serif;
  }
}
