.equipment-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 34px;

  @media(min-width: $screen-md) {
    margin-top: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.equipment-grid__ident {
  margin-bottom: 15px;

  @media(min-width: $screen-md) {
    margin-bottom: 69px;
  }
}
