.form-callback {
  display: none;
  position: absolute;
  top: 170px;
  left: 60px;
  width: 265px;
  transition: $time;
  transform: translateX(100vw);

  @media(min-width: $screen-md) {
    display: block;
  }

  &--active {
    transform: translateX(0vw);
  }
}

.form-callback__title {
  position: relative;
  line-height: 50px;
  font-size: 27px;
  font-weight: 900;
  color: $white;
  padding-bottom: 20px;
  margin-bottom: 55px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 2px;
    background: #ffc600;
  }
}

.form-callback__ident {
  margin-bottom: 32px;
}

.form-callback_btn {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  padding: 16px 15px;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffe25b 0%, #c79216 100%);
  box-shadow: 0 4px 0 #9f7813, 0 0 40px rgba(199,146,22,.56);
}
