.income {
  margin-bottom: 64px;

  @media (min-width: $screen-md) {
    margin-bottom: 100px;
    max-width: 600px;
    margin: 0 auto 104px;
  }

  @media (min-width: $screen-xl) {
    max-width: inherit;
    margin-bottom: 117px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.income__column {
  @include make-col-ready();
}

.income__column_6-2 {
  @include media-breakpoint-up(xl) {
    @include make-col(6.01);
  }
}

.income__column_5-8 {
  @include media-breakpoint-up(xl) {
    @include make-col(5.99);
  }
}

.income__month {
  max-width: 100%;
  height: 355px;
  background: url("../img/bg-adv-1_mob.jpg") no-repeat center / cover;
  border-radius: $radius;
  margin-bottom: 15px;

  @media (min-width: $screen-md) {
    height: 610px;
    margin-bottom: 30px;
    background: url("../img/bg-adv-1.jpg") no-repeat center / cover;
  }

  @media (min-width: $screen-xl) {
    max-width: 570px;
    height: 610px;
    margin-bottom: 0;
  }
}

.income__month p {
  max-width: 284px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  padding-top: 231px;
  font: 400 14px/21px "Geometria", "Arial", sans-serif;
  color: $white;
  text-align: center;

  @media (min-width: $screen-md) {
    height: 610px;
    text-align: left;
    margin-right: 21px;
    font: 400 24px/42px "Geometria", "Arial", sans-serif;
  }
}

.income__price {
  position: relative;
  max-width: 570px;
  height: 290px;
  border-radius: $radius;

  &--color-1 {
    background: url("../img/bg-adv-2_mob.png") no-repeat center / cover;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-bottom: 30px;
      background: url("../img/bg-adv-2.jpg") no-repeat center / cover;
    }
  }

  &--color-2 {
    background: url("../img/bg-adv-3.jpg") no-repeat center / cover;
  }
}

.income__price p {
  position: absolute;
  top: 170px;
  left: 0%;
  right: 0;
  padding: 0 10px;
  max-width: 100%;
  font: 400 14px/21px "Geometria", "Arial", sans-serif;
  margin: 0;
  color: $white;
  text-align: center;

  @media (min-width: $screen-md) {
    top: 184px;
    margin: 0 auto;
    max-width: 380px;
    left: 0px;
    right: 0;
    font: 400 18px/29px "Geometria", "Arial", sans-serif;
  }

  @media (min-width: $screen-xl) {
    max-width: 380px;
    left: 42px;
    margin: 0;
    text-align: left;
  }
}

.income__numb {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 97px;
  padding-left: 0px;
  color: $white;
  font: 900 52px/80px "UniNeue", "Arial", sans-serif;

  @media (min-width: $screen-md) {
    font: 900 80px/80px "UniNeue", "Arial", sans-serif;
  }

  @media (min-width: $screen-xl) {
    width: auto;
    text-align: left;
    padding-left: 45px;
  }
}

.income__numb sub {
  bottom: 5px;
  font: 400 14px/32px "Geometria", "Arial", sans-serif;
}
