.main-block {
  max-width: 470px;
  color: $white;
  margin-left: auto;
  margin-right: auto;

  @media(min-width: $screen-md) {
    margin-left: -0px;
  }
}

.main-block__text {
  color: #e5d8cf;
  font: 300 12px/21px "Geometria", "Arial", sans-serif;

  @media(min-width: $screen-md) {
    margin-top: 19px;
    font: 300 16px/29px "Geometria", "Arial", sans-serif;
  }

  @media(min-width: $screen-xl) {
    margin-top: 15px;
    font: 300 16px/29px "Geometria", "Arial", sans-serif;
  }
}
