.next-slider {
  display: none;

  @media(min-width: $screen-xl) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 15px;
    display: flex;
    align-items: flex-end;
    z-index: 3;
    transition: $time;
  }

  &--none {
    opacity: 0;
    pointer-events: none;
  }
}

.next-slider__btn {
  position: relative;
  width: 220px;
  padding: 21px 70px 17px 10px;
  color: $white;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  background: #c79216 url("../img/icon/arrow-right.png") no-repeat 86% 50%;
}

.next-slider__bg {
  width: 285px;
  height: 155px;
  background-size: cover;
  background-position: center;
}
