.number-step {
  color: #ffc815;
  font-size: 27px;
  line-height: 45px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $screen-xl) {
    text-align: left;
    font-size: 48px;
    line-height: 45px;
  }
}

.number-step span {
  font-size: 12px;
  line-height: 12px;
  color: #c79216;
}
