.opening {
  // padding: 0;
  padding-top: 70px;
  background: url("../img/bg-opening.jpg") no-repeat center / cover;
}

.opening__title {
  margin-bottom: 30px;

  @media(min-width: $screen-md) {
    margin-bottom: 51px;
  }
}

.opening__block-info {
  margin-bottom: 28px;

  @media(min-width: $screen-md) {
    margin-bottom: 57px;
  }
}
