.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 77px;
  z-index: 3;

  @media (min-width: $screen-md) {
    padding-top: 125px;
  }

  @media(min-width: $screen-xl) {
    align-items: center;
    padding-right: 72px;
    padding-left: 14px;
    padding-top: 0;
    margin-top: 42px;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  top: 22px;
  transform: translateX(-50%);
  max-width: 112px;

  @media (min-width: $screen-md) {
    top: 29px;
    max-width: inherit;
  }

  @media (min-width: $screen-xl) {
    top: -13px;
    transform: translateX(-50%);
  }
}
