.page-footer {
  padding-top: 63px;
  background: #292929;
}

.page-footer__logo {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
  cursor: inherit;
}

.page-footer__mail {
  margin-bottom: 9px;
}

.page-footer__row {
  padding-bottom: 65px;
}
