.phone {
  // display: inline-block;
  display: block;
  color: #fdf9ec;
  font: 700 18px/32px "Geometria", "Arial", sans-serif;
  padding-left: 35px;
  background: url("../img/sprite/phone.svg") no-repeat 0 7px / 20px;
}
