.production {
  max-width: 458px;

  @media(min-width: $screen-md) {
    max-width: 100%;
  }
}

.production__text {
  color: #ede0d2;
  font: 400 14px/21px "Geometria", "Arial", sans-serif;
  margin-bottom: 20px;

  @media (min-width: $screen-md) {
    font: 400 24px/42px "Geometria", "Arial", sans-serif;
    margin-bottom: 27px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 40px;
  }
}

.production__list {
  @include ul-none();
  margin-bottom: 41px;

  @media(min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
  }

  @media(min-width: $screen-xl) {
    display: block;
    margin-bottom: 40px;
    // margin-bottom: 30px;
  }
}

.production__item {
  position: relative;
  padding-left: 40px;
  color: $white;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: -6px;
    width: 29px;
    height: 44px;
    background: url("../img/icon/circle.png") no-repeat center / cover;
  }

  @media(min-width: $screen-md) {
    padding-left: 80px;

    &::after {
      left: -13px;
      width: 66px;
      height: 66px;
    }
  }

  @media(min-width: $screen-xl) {
    padding-left: 72px;

    &::after {
      left: -20px;
      width: 66px;
      height: 66px;
    }
  }
}

.production__item strong {
  font: 700 14px/32px "Geometria", "Arial", sans-serif;

  @media(min-width: $screen-xl) {
    font: 700 18px/32px "Geometria", "Arial", sans-serif;
  }
}

.production__item p {
  font: 300 10px/16px "Geometria", "Arial", sans-serif;
  margin-top: -5px;
  margin-bottom: 10px;

  @media(min-width: $screen-md) {
    font: 300 12px/25px "Geometria", "Arial", sans-serif;
  }

  @media(min-width: $screen-xl) {
    margin-top: 0;
    margin-bottom: 10px;
    font: 300 14px/25px "Geometria", "Arial", sans-serif;
  }
}

.production__btn {
  @media(min-width: $screen-md) {
    display: block;
    margin: 0 auto;
  }

  @media(min-width: $screen-xl) {
    display: inline-block;
  }
}
