.result {
  display: flex;
  flex-wrap: wrap;
  @include ul-none();
  color: $white;

  @media (min-width: $screen-xl) {
    flex-wrap: nowrap;
  }
}

.result__item {
  position: relative;
  width: 100%;
  padding: 23px 26px 26px 23px;
  margin-bottom: 18px;
  z-index: 1;


  @media (min-width: $screen-md) {
    width: 50%;
    padding: 31px 16px 31px 27px;
  }

  @media (min-width: $screen-xl) {
    width: 33.333333%;
    padding: 31px 16px 21px 47px;
  }

  &--block-1 {
    width: 100%;
    border-radius: 10px;

    &::after {
      content: "";
      @include blur();
      background: url("../img/blur/result-1.png") no-repeat center / cover;
    }

    @media (min-width: $screen-md) {
      border-radius: 10px 0 0 10px;
      margin-bottom: 0;
    }
  }

  &--block-2 {
    width: 100%;
    border-radius: 10px;

    &::after {
      content: "";
      @include blur();
      background: url("../img/blur/result-2.png") no-repeat center / cover;
    }

    @media (min-width: $screen-md) {
      width: 50%;
      border-radius: 0 10px 10px 0;
      margin-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      width: 33.333333%;
      border-radius: 0;
    }
  }

  &--block-3 {
    width: 100%;
    border-radius: 10px;

    &::after {
      content: "";
      @include blur();
      background: url("../img/blur/result-3.png") no-repeat center / cover;
    }

    @media (min-width: $screen-md) {
      width: 50%;
      border-radius: 0 0px 10px 10px;
    }

    @media (min-width: $screen-xl) {
      width: 33.333333%;
      margin: 0;
      border-radius: 0 10px 10px 0;
    }
  }
}

.result__item strong {
  display: block;
  font-size: 16px;
  margin-bottom: 13px;

  @media(min-width: $screen-md) {
    font-size: 21px;
  }

  @media(min-width: $screen-md) {
    margin-bottom: 20px;
  }
}

.result__item p {
  margin: 0;

  @media(min-width: $screen-md) {
    font-size: 14px;
    line-height: 27px;
  }
}
