.tagline {
  font: 400 10px/21px "Geometria", "Arial", sans-serif;
  color: #513e37;
  text-align: center;

  // «Хлеб из тандыра» отступ
  margin-top: -12px;
  margin-bottom: 28px;

  @media (min-width: $screen-md) {
    font: 400 21px/32px "Geometria", "Arial", sans-serif;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  @media (min-width: $screen-xl) {
    text-align: left;
    margin-bottom: 46px;
  }
}
