.title {
  position: relative;
  max-width: 920px;
  font: 900 25px/35px "Geometria", "Arial", sans-serif;
  color: #24110c;
  margin-bottom: 10px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 52px;
    height: 2px;
    background: $color-warning;

    @media (min-width: $screen-md) {
      top: -7px;
    }

    @media (min-width: $screen-xl) {
      left: -102px;
      top: 33px;
      transform: translateX(0%);
    }
  }



  &--size {
    font-size: 27px;
  }

  &--color {
    color: $white;
  }

  &--center {
    text-align: center !important;
    margin: 0 auto;

    &::after {
      left: 50% !important;
      top: 0 !important;
      transform: translateX(-50%) !important;
    }
  }

  @media (min-width: $screen-md) {
    text-align: center;
    font: 900 42px/60px "Geometria", "Arial", sans-serif;
  }

  @media (min-width: $screen-xl) {
    text-align: left;
  }

  &--main {
    font-size: 28px;
    line-height: 40px;

    @media(min-width: $screen-md) {
      text-align: left;
    }

    &::after {
      @media(min-width: $screen-md) {
        left: 0;
        top: -21px;
        transform: translateX(-0%);
      }

      @media(min-width: $screen-xl) {
        left: -102px;
        top: 33px;
      }
    }
  }
}

.title span {
  display: inline-block;
}
