.video-img {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 412px;
  background-image: url("../img/img-video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  @media (min-width: $screen-md) {
    max-width: 570px;
    border-radius: 15px;
    height: 468px;
    margin: 0 auto;
  }

  @media (min-width: $screen-xl) {
    margin: 0;
  }
}

.video-img__wrap {
  text-align: center;
  margin: auto;
}

.video-img__play {
  display: block;
  margin: 0 auto 23px;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  border: none;
  background: $color-warning url("../img/sprite/play-button.svg") no-repeat center / 16px 20px;
}

.video-img__text {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: $white;
  padding-bottom: 7px;
  margin: 0;
  border-bottom: 2px solid $white;
}
